* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popis {
  text-align: center;
}

body {
  line-height: 1.4;
  font-family: "Nunito Sans", sans-serif;
}

.product {
  position: relative;
  padding: 40px 50px;
  margin: 100px auto;
  width: 500px;
  border: 3px double darkgray;
  border-radius: 25px;
  background: linear-gradient(rgb(109, 104, 95), rgb(224, 215, 196));
}

.img {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.barvy {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 30px 0 30px 0;
}

.zlata {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid white;
  background-color: goldenrod;
  box-shadow: rgb(210, 210, 210) 0 0 5px 5px;
}

.fialova {
  width: 30px;
  height: 30px;
  background-color: darkmagenta;
  border-radius: 25px;
}

.stribrna {
  width: 30px;
  height: 30px;
  background-color: silver;
  border-radius: 25px;
}

.cerna {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 25px;
}

.s:hover {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  box-shadow: rgb(210, 210, 210) 0 0 5px 5px;
}

ul {
  margin: 30px 20px 30px 20px;
}

td,
th {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px !important;
}

.novinka {
  position: absolute;
  padding: 10px 20px;
  top: -15px;
  right: -15px;
  background-color: rgb(205, 19, 19);
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 200px;
  margin: 50px 0 50px 0;
}

.koupit {
  position: absolute;
  padding: 10px 20px;
  right: 50px;
  bottom: 100px;
  background-color: cornflowerblue;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  box-shadow: rgb(166, 166, 166) 0 0 10px 3px;
}

.koupit:hover {
  box-shadow: white 0 0 10px 5px;
  cursor: pointer;
}

footer {
  margin-top: 40px;
}

footer p {
  font-size: 12px;
}

strong {
  color: rgb(75, 75, 75);
}
